@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

@layer utilities {
  .glass {
    @apply bg-gray-300 rounded-2xl bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10;
  }
}


/* width */
::-webkit-scrollbar {
  height: 10px; /* height of horizontal scrollbar ← You're missing this */
  width: 0px; /* width of vertical scrollbar */
  border: 0px solid #d5d5d5;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #0a0a0a;
  border-radius: 10px 10px 10px 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  min-height: 10px; /* Minimum height for the handle */
  min-width: 10px; /* Minimum width for the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
